* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: monospace;
	min-height: 100vh;
	min-width: 100vw;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
}

header {
	background-color: darkcyan;
	color: white;
}

footer {
	background-color: purple;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

header, footer, main {
	padding: 1rem;
}

a:link, a:visited {
	color: green;
}

.title-link {
	text-decoration: none;
}

.nav-link:link, .nav-link:visited {
	color: lightcyan;
}
